.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 4rem 0;
    overflow: hidden;
}

.auth__form {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 1rem 0 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem
}

.cards {
    display: flex;
    gap: 2rem;
}

.auth__avatars-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin: 2rem 0 1rem;
}

.auth__avatars-title {
    margin: 0;
    padding: 0;
}

.auth__avatars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem
}

.auth__avatar {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    border-radius: 2rem;
    outline: 3px solid white
}

.selected {
    outline: 5px solid #bef8a9
}

.auth__avatar img {
    height: 6rem;
    transition: 0.5s ease-in-out;
    border-radius: 2rem;
}