.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__logo {
    width: 2rem;
    height: 2rem;
}


.header__details {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
    margin-left: auto;
}

@media screen and (max-width: 600px) {
    .header__details {
        margin: 1rem 0;
    }
}