.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.9);
    backdrop-filter: blur(1px);

}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #aff1c2;
}

.header__logo {
    width: 2rem;
    height: 2rem;
}

button {
    color: #aff1c2;
    cursor: pointer;
    padding: .4rem .8rem;
}